/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* fonts */
	@font-face {
	    font-family: 'MyriadWebProBold';
	    src: url('../fonts/myriadwebpro-bold-webfont.eot');
	    src: url('../fonts/myriadwebpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/myriadwebpro-bold-webfont.woff') format('woff'),
	         url('../fonts/myriadwebpro-bold-webfont.ttf') format('truetype'),
	         url('../fonts/myriadwebpro-bold-webfont.svg#MyriadWebProBold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'MyriadWebProRegular';
	    src: url('../fonts/myriadwebpro-webfont.eot');
	    src: url('../fonts/myriadwebpro-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/myriadwebpro-webfont.woff') format('woff'),
	         url('../fonts/myriadwebpro-webfont.ttf') format('truetype'),
	         url('../fonts/myriadwebpro-webfont.svg#MyriadWebProRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	body { font-family: 'MyriadWebProRegular'; }
	h2, input[type="submit"] { font-family: 'MyriadWebProBold'; }

/* index */
	body {
		background: #49809B url('../images/bg.jpg');
	}

	.h1 {
		margin: 30px auto 15px;
	}

	.row {
		text-align: center;
	}

	.radius {
		border-radius: 10px 10px 10px 10px;
	}

	h2, h3, label, td, p {
		text-shadow: 0 2px 6px #3B3B3B;
	}

	h2 {
		color: #FFFFFF;
		font-size: 23px;
	}

	h3 {
		color: #FFC167;
		font-size: 20px;
		margin: 40px 0 10px;
	}

	label {
		color: #FFFFFF;
		display: block;
		font-size: 20px;
		margin: 0 0 10px;
		text-align: left;
	}

	select {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		display: inline-block;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		width: 100%;
	}

	input[type="text"] {
		border: 1px solid #CCCCCC;
		margin: 0 0 50px;
		font-size: 20px;
		width: 90%; /*height: 50px;*/
		padding: 12px;
	}

	input[type="submit"], a.button {
		box-shadow: 0 3px 6px 1px #161616;

		background: #ff9d1a; /* Old browsers */
		background: -moz-linear-gradient(top, #ff9d1a 0%, #ff740a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9d1a), color-stop(100%,#ff740a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ff9d1a 0%,#ff740a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ff9d1a 0%,#ff740a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ff9d1a 0%,#ff740a 100%); /* IE10+ */
		background: linear-gradient(top, #ff9d1a 0%,#ff740a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d1a', endColorstr='#ff740a',GradientType=0 ); /* IE6-9 */
	}
	
	input[type="submit"] {
		color: white;
		margin: 0 0 30px;
		width: 285px;
		height: 82px;
		line-height: 80px;
		text-align: center;
		font-size: 30px;
		text-shadow: 0px 3px 5px black;
		border: none;
	}

/* result */
	.result h2 {
		text-align: left;
	}

	table { 
		color: #FFC167;
		font-size: 20px;
		text-align: left;
	}

	td {
		padding-bottom: 10px;
	}

	td:first-child {
		color: #FFFFFF;
		width: 190px;
	}

	a.button {
		border: none;
		color: white;
		display: inline-block;
		font-family: 'MyriadWebProBold';
		font-size: 20px;
		line-height: 60px;
		margin: 25px 0 50px;
		width: 215px; height: 55px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0px 3px 5px black;
	}

	.box {
		margin-top: 25px;
		margin-bottom: 50px;
		padding: 25px;
		text-align: left;
		width: 90%;

		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 ); /* IE6-8 */
	}

	.fourcol.box {
		width: 26%; /* hack para centralizar com o padding dos boxes */
	}

	.result h3 {
		color: #FFFFFF;
		margin: 25px 0 0;
	}

	.result .motorway h3, .result .urban h3 {
		margin: 0;
	}

	.result p {
		color: #FFC167;
		font-size: 16px;
	}

	.result .cost-benefit h3 {
		font-family: 'MyriadWebProBold';
	}

	.result .cost-benefit p {
		font-size: 20px;
	}

	.result p.price {
		font-size: 30px;
	}

	.motorway, .urban {
		padding: 0 0 0 57px;
		border-bottom: 2px dotted #FFFFFF;
	}

	.motorway {
		background: url('../images/motorway.png') no-repeat;
	}

	.urban {
		background: url('../images/urban.png') no-repeat;
	}

	#sparkcamp {
		text-decoration: none;
	}

	#sparkcamp p {
		color: #222222;
		font-size: 13px;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	img.h1 { width:100%; }
	.h1 { margin: 25px auto 35px; }
	h3 { margin: 35px 0 25px; }
	label { margin: 30px 0 0; }
	input[type="text"] { margin: 0; }
	input[type="submit"] { margin: 20px 0; }
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}