/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: #49809B url('../images/fundo.jpg');
	}

	.center {
		margin: 0 auto;
	}

	h1 {
		background: url('../images/fuelcontrol.png') no-repeat;
		width: 448px; height: 185px;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}