/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* index */
	body {
		background: #49809B url('../images/fundo.jpg');
	}

	h1 {
		background: url('../images/fuelcontrol.png') no-repeat;
		margin: 50px auto 80px;
		width: 448px; height: 185px;
	}

	.row {
		text-align: center;
	}

	h2 {
		color: #FFFFFF;
		font-size: 13px;
		margin: 0 0 70px;
	}

	h3 {
		color: #FFC167;
		font-size: 12px;
		margin: 0 0 35px;
	}

	label {
		color: #FFFFFF;
		display: block;
	}

	select {
		margin: 0 0 70px;
	}

	input[type="text"] {
		margin: 0 0 70px;
	}
	
	input[type="submit"] {
		color: white;
		margin: 0 0 70px;
		width: 285px;
		height: 82px;
		line-height: 90px;
		text-align: center;
		font-size: 30px;
		text-shadow: 0px 3px 5px black;
		background: #ea1c22;
		/* Old browsers */
		background: -moz-linear-gradient(top, #ea1c22 0%, #950a0e 100%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea1c22), color-stop(100%, #950a0e));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ea1c22 0%, #950a0e 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ea1c22 0%, #950a0e 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ea1c22 0%, #950a0e 100%);
		/* IE10+ */
		background: linear-gradient(top, #ea1c22 0%, #950a0e 100%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA1C22', endColorstr='#950A0E',GradientType=0 );
		/* IE6-9 */
		border-radius: 10px 10px 10px 10px;
		border: none;
		box-shadow: 0 3px 2px 1px #161616;
	}

/* result */

	.result h3 {
		margin: 0;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}