<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Fuel Control</title>
	<meta name="description" content="Fuel Control is a system for fuel optimization on dual-fuel (flex) cars.">
	<meta name="author" content="SparkIT">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/1140styles.css">
	<script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body class="container">

	<header class="row">
		<div class="fourcol"></div>
		<div class="fourcol">
			<a href="/"><img class="h1" src="{{ STATIC_URL }}images/fuelcontrol.png" alt="FuelControl" /></a>
		</div>
		<div class="fourcol last"></div>
	</header>

	<div class="row">
		<div class="twelvecol last">
			<h2>O que é melhor colocar? Gasolina ou Álcool?</h2>
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Escolha o modelo exato do seu automóvel:</h3>
		</div>
	</div>
	<form method="POST" action="/">
	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="marca">Marca do Carro</label>
			<select name="marca" class="radius">
				{% for marca in marcas %}
					<option value="{{marca.name}}">{{marca.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol">
			<label for="modelo">Modelo do Carro</label>
			<select name="modelo" class="radius">
				{% for carro in carros %}
					<option value="{{carro.id}}">{{carro.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol last">
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Insira o valor da gasolina e do álcool na sua cidade:</h3>
		</div>
	</div>

	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="gasolina">Valor da Gasolina</label>
			<input type="text" class="radius" name="gasolina" size="5" />
		</div>
		<div class="threecol">
			<label for="alcool">Valor do Álcool</label>
			<input type="text" class="radius" name="alcool" size="5" />
		</div>
		<div class="threecol last">
		</div>
	</div>
 {% csrf_token %}
	<div class="row">
		<div class="twelvecol last">
			<input type="submit" class="radius" value="Calcular" />
		</div>
	</div>
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
</body><!--! end of #container -->
</html>
