{% extends "esqueleto.html" %}
{% block 'body' %}
<body class="container">
	<header class="row">
		<div class="fourcol"></div>
		<div class="fourcol">
			<a href="/"><img class="h1" src="{{ STATIC_URL }}images/fuelcontrol.png" alt="FuelControl" /></a>
		</div>
		<div class="fourcol last"></div>
	</header>

	<div class="row">
		<div class="twelvecol last">
			<h2>O que é melhor colocar? Gasolina ou Álcool?</h2>
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Escolha o modelo exato do seu automóvel:</h3>
		</div>
	</div>
	<form method="POST" action="/">
	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="marca">Marca do Carro</label>
			<select id="select-marca" name="marca" class="radius">
				{% for marca in marcas %}
					<option value="{{marca.name}}" {% if request.GET.fabricante == marca.name %}selected{%endif%} >{{marca.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol">
			<label for="modelo">Modelo do Carro</label>
			<select name="modelo" class="radius">
				{% for carro in carros %}
					<option value="{{carro.id}}">{{carro.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol last">
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Insira o valor da gasolina e do álcool na sua cidade:</h3>
		</div>
	</div>

	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="gasolina">Valor da Gasolina</label>
			<span>R$</span><input type="text" class="radius" name="gasolina" id="txt-gasolina" size="5" value="2.61" />
		</div>
		<div class="threecol">
			<label for="alcool">Valor do Álcool</label>
			<span>R$</span><input type="text" class="radius" name="alcool" id="txt-alcool" size="5" value="1.87"  />
		</div>
		<div class="threecol last">
		</div>
	</div>
 {% csrf_token %}
	<div class="row">
		<div class="twelvecol last">
			<input type="submit" class="radius" value="Calcular" />
		</div>
	</div>
	</form>
	
	{% include "footer.html" %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
	<script src="http://raw.github.com/plentz/jquery-maskmoney/master/jquery.maskMoney.js" type="text/javascript"></script>


	<script>
	$(document).ready(function () {
		$('#txt-gasolina').maskMoney({decimal:'.', thousands:''});
		$('#txt-alcool').maskMoney({decimal:'.', thousands:''});

		$('#select-marca').change(function() {
			window.location.href = '/?fabricante=' + $(this).val();
			});
		});
	</script>

</body><!--! end of #container -->
{% endblock %}
