{% extends "esqueleto.html" %}

{% block 'body' %}
<body class="container">
	<header class="row">
		<div class="fourcol"></div>
		<div class="fourcol">
			<a href="/"><img class="h1" src="{{ STATIC_URL }}images/fuelcontrol.png" alt="FuelControl" /></a>
		</div>
		<div class="fourcol last"></div>
	</header>

	<div class="row">
		<div class="twelvecol last">
			<h2>O que é melhor colocar? Gasolina ou Álcool?</h2>
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Escolha o modelo exato do seu automóvel:</h3>
		</div>
	</div>
	<form method="POST" action="/">
	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="marca">Marca do Carro</label>
			<select name="marca" class="radius">
				{% for marca in marcas %}
					<option value="{{marca.name}}">{{marca.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol">
			<label for="modelo">Modelo do Carro</label>
			<select name="modelo" class="radius">
				{% for carro in carros %}
					<option value="{{carro.id}}">{{carro.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="threecol last">
		</div>
	</div>

	<div class="row">
		<div class="twelvecol last">
			<h3>Insira o valor da gasolina e do álcool na sua cidade:</h3>
		</div>
	</div>

	<div class="row">
		<div class="threecol">
		</div>
		<div class="threecol">
			<label for="gasolina">Valor da Gasolina</label>
			<input type="text" class="radius" name="gasolina" size="5" />
		</div>
		<div class="threecol">
			<label for="alcool">Valor do Álcool</label>
			<input type="text" class="radius" name="alcool" size="5" />
		</div>
		<div class="threecol last">
		</div>
	</div>
 {% csrf_token %}
	<div class="row">
		<div class="twelvecol last">
			<input type="submit" class="radius" value="Calcular" />
		</div>
	</div>
	</form>
	
	{% include "footer.html" %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>
</body><!--! end of #container -->
{% endblock %}